<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>SignalCi</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://SignalCiApi</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>SG-CA01-DVM-004</MSDeployServiceURL>
    <DeployIisAppPath>SignalCiApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>sgnl\pdelosreyes</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SGNL_WAREHOUSEEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=sg-ca01-dvm-004\SignalCi,7433;Initial Catalog=SGNL_WAREHOUSE;Persist Security Info=True;User ID=apitest;Password=Ap1T3st!;Encrypt=False" Name="Data Source=sg-ca01-dvm-004\SignalCi,7433;Initial Catalog=SGNL_WAREHOUSE;Persist Security Info=True;User ID=apitest;Password=Ap1T3st!;MultipleActiveResultSets=True;Encrypt=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sg-ca01-dvm-004;Initial Catalog=SGNL_WAREHOUSE;User ID=apitest;Password=Ap1T3st!;Max Pool Size=10;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SGNL_WAREHOUSEEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/SGNL_WAREHOUSE_Model.csdl|res://*/SGNL_WAREHOUSE_Model.ssdl|res://*/SGNL_WAREHOUSE_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sg-ca01-dvm-004;initial catalog=SGNL_WAREHOUSE;User ID=apitest;Password=Ap1T3st!;MultipleActiveResultSets=True;App=EntityFramework;Max Pool Size=10&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SGNL_INTERNALEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=sg-ca01-dvm-004\SignalCi,7433;Initial Catalog=SGNL_INTERNAL;Persist Security Info=True;User ID=apitest;Password=Ap1T3st!;Encrypt=False" Name="Data Source=sg-ca01-dvm-004\SignalCi,7433;Initial Catalog=SGNL_INTERNAL;Persist Security Info=True;User ID=apitest;Password=Ap1T3st!;MultipleActiveResultSets=True;Encrypt=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sg-ca01-dvm-004;Initial Catalog=SGNL_INTERNAL;User ID=apitest;Password=Ap1T3st!;Max Pool Size=10;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SGNL_INTERNALEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/SGNL_INTERNAL_Model.csdl|res://*/SGNL_INTERNAL_Model.ssdl|res://*/SGNL_INTERNAL_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sg-ca01-dvm-004;initial catalog=SGNL_INTERNAL;User ID=apitest;Password=Ap1T3st!;MultipleActiveResultSets=True;App=EntityFramework;Max Pool Size=10&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SGNL_FINANCEEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=sg-ca01-dvm-004\SignalCi,7433;Initial Catalog=SGNL_FINANCE;Persist Security Info=True;User ID=apitest;Password=Ap1T3st!;Encrypt=False" Name="Data Source=sg-ca01-dvm-004\SignalCi,7433;Initial Catalog=SGNL_FINANCE;Persist Security Info=True;User ID=apitest;Password=Ap1T3st!;MultipleActiveResultSets=True;Encrypt=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sg-ca01-dvm-004;Initial Catalog=SGNL_FINANCE;User ID=apitest;Password=Ap1T3st!;Max Pool Size=10;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SGNL_FINANCEEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/SGNL_FINANCE_Model.csdl|res://*/SGNL_FINANCE_Model.ssdl|res://*/SGNL_FINANCE_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sg-ca01-dvm-004;initial catalog=SGNL_FINANCE;User ID=apitest;Password=Ap1T3st!;MultipleActiveResultSets=True;App=EntityFramework;Max Pool Size=10&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SGNL_LISEntities" Order="4" Enabled="False">
          <Destination Path="Data Source=sg-ca01-dvm-004\SignalCi,7433;Initial Catalog=SGNL_LIS;Persist Security Info=True;User ID=apitest;Password=Ap1T3st!;Encrypt=False" Name="Data Source=sg-ca01-dvm-004\SignalCi,7433;Initial Catalog=SGNL_LIS;Persist Security Info=True;User ID=apitest;Password=Ap1T3st!;MultipleActiveResultSets=True;Encrypt=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=sg-ca01-dvm-004;Initial Catalog=SGNL_LIS;User ID=apitest;Password=Ap1T3st!;Max Pool Size=10;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SGNL_LISEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/SGNL_LIS_Model.csdl|res://*/SGNL_LIS_Model.ssdl|res://*/SGNL_LIS_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sg-ca01-dvm-004;initial catalog=SGNL_LIS;User ID=apitest;Password=Ap1T3st!;MultipleActiveResultSets=True;App=EntityFramework;Max Pool Size=10&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IIS WebApplicationName">
      <ParameterValue>"SignalCiApi"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SGNL_FINANCEEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/SGNL_FINANCE_Model.csdl|res://*/SGNL_FINANCE_Model.ssdl|res://*/SGNL_FINANCE_Model.msl;provider=System.Data.SqlClient;provider connection string="data source=sg-ca01-dvm-004\SignalCi,7433;initial catalog=SGNL_FINANCE;persist security info=True;user id=apitest;password=Ap1T3st!;multipleactiveresultsets=True;encrypt=False;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SGNL_INTERNALEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/SGNL_INTERNAL_Model.csdl|res://*/SGNL_INTERNAL_Model.ssdl|res://*/SGNL_INTERNAL_Model.msl;provider=System.Data.SqlClient;provider connection string="data source=sg-ca01-dvm-004\SignalCi,7433;initial catalog=SGNL_INTERNAL;persist security info=True;user id=apitest;password=Ap1T3st!;multipleactiveresultsets=True;encrypt=False;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SGNL_LISEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/SGNL_LIS_Model.csdl|res://*/SGNL_LIS_Model.ssdl|res://*/SGNL_LIS_Model.msl;provider=System.Data.SqlClient;provider connection string="data source=sg-ca01-dvm-004\SignalCi,7433;initial catalog=SGNL_LIS;persist security info=True;user id=apitest;password=Ap1T3st!;multipleactiveresultsets=True;encrypt=False;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SGNL_WAREHOUSEEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/SGNL_WAREHOUSE_Model.csdl|res://*/SGNL_WAREHOUSE_Model.ssdl|res://*/SGNL_WAREHOUSE_Model.msl;provider=System.Data.SqlClient;provider connection string="data source=sg-ca01-dvm-004\SignalCi,7433;initial catalog=SGNL_WAREHOUSE;persist security info=True;user id=apitest;password=Ap1T3st!;multipleactiveresultsets=True;encrypt=False;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>