<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NGSServiceSoapProd"/>
        <binding name="NGSServiceSoapTest">
          <security mode="Transport"/>
        </binding>
        <binding name="accessionSearchSoap11">
          <security mode="Transport">
            <transport clientCredentialType="Digest" proxyCredentialType="Digest"/>
          </security>
        </binding>
        <binding name="accessionSearchSoap111"/>
        <binding name="accessionSoap11">
          <security mode="Transport">
            <transport clientCredentialType="Digest" proxyCredentialType="Digest"/>
          </security>
        </binding>
        <binding name="accessionSoap111"/>
        <binding name="accessionSoap112">
          <security mode="Transport"/>
        </binding>
        <binding name="accessionSoap113"/>
        <binding name="accessionSearchSoap112">
          <security mode="Transport"/>
        </binding>
        <binding name="accessionSearchSoap113"/>
        <binding name="accessionSearchSoap114">
          <security mode="Transport"/>
        </binding>
        <binding name="accessionSearchSoap115"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="NGSServiceSoap12Test">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
        <binding name="NGSServiceSoap12Prod">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport/>
        </binding>
      </customBinding>
    </bindings>

    <client>
      <endpoint address="http://www.signalqawebservice.technossustest.com/BusinessService/NGS/NGSService.asmx" binding="basicHttpBinding" bindingConfiguration="NGSServiceSoapTest" contract="PathCentralService.NGSServiceSoap" name="NGSServiceSoapTest"/>
      <endpoint address="http://www.signalqawebservice.technossustest.com/BusinessService/NGS/NGSService.asmx" binding="customBinding" bindingConfiguration="NGSServiceSoap12Test" contract="PathCentralService.NGSServiceSoap" name="NGSServiceSoap12Test"/>
      <endpoint address="https://etelenext.xifin.net/SignalGenetics/APvX_ServiceLayer/BusinessService/NGS/NGSService.asmx" binding="basicHttpBinding" bindingConfiguration="NGSServiceSoapProd" contract="PathCentralService.NGSServiceSoap" name="NGSServiceSoapProd"/>
      <endpoint address="https://etelenext.xifin.net/SignalGenetics/APvX_ServiceLayer/BusinessService/NGS/NGSService.asmx" binding="customBinding" bindingConfiguration="NGSServiceSoap12Prod" contract="PathCentralService.NGSServiceSoap" name="NGSServiceSoap12Prod"/>
      <endpoint address="https://www.xifin.net/prod/accession/services" binding="basicHttpBinding" bindingConfiguration="accessionSearchSoap11" contract="XifinAccessionSearchService.accessionSearch" name="accessionSearchSoap11"/>
      <endpoint address="https://www.xifin.net/prod/accession/services" binding="basicHttpBinding" bindingConfiguration="accessionSoap11" contract="XifinAccessionService.accession" name="accessionSoap11"/>
      <endpoint address="https://www.xifin.net/test/accession/services" binding="basicHttpBinding" bindingConfiguration="accessionSoap112" contract="TestXifinAccessionService.accession" name="accessionSoap111"/>
      <endpoint address="https://www.xifin.net/test/accession/services" binding="basicHttpBinding" bindingConfiguration="accessionSearchSoap112" contract="TestXifinAccessionSearchService.accessionSearch" name="accessionSearchSoap111"/>
      <endpoint address="https://www.xifin.net/test/accession/services" binding="basicHttpBinding" bindingConfiguration="accessionSearchSoap114" contract="TestXifinAccessionSearchService.accessionSearch" name="accessionSearchSoap112"/>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Documents.Client" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
