<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NGSServiceSoapProd" />
        <binding name="NGSServiceSoapTest">
          <security mode="Transport" />
        </binding>
        <binding name="accessionSearchSoap11" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Digest" proxyCredentialType="Digest" />
          </security>
        </binding>
        <binding name="accessionSearchSoap111" />
        <binding name="accessionSoap11">
          <security mode="Transport">
            <transport clientCredentialType="Digest" proxyCredentialType="Digest" />
          </security>
        </binding>
        <binding name="accessionSoap111" />
        <binding name="accessionSoap112">
          <security mode="Transport" />
        </binding>
        <binding name="accessionSoap113" />
        <binding name="accessionSearchSoap112">
          <security mode="Transport" />
        </binding>
        <binding name="accessionSearchSoap113" />
      </basicHttpBinding>
      <customBinding>
        <binding name="NGSServiceSoap12Test">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="NGSServiceSoap12Prod">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://www.signalqawebservice.technossustest.com/BusinessService/NGS/NGSService.asmx" binding="basicHttpBinding" bindingConfiguration="NGSServiceSoapTest" contract="PathCentralService.NGSServiceSoap" name="NGSServiceSoapTest" />
      <endpoint address="http://www.signalqawebservice.technossustest.com/BusinessService/NGS/NGSService.asmx" binding="customBinding" bindingConfiguration="NGSServiceSoap12Test" contract="PathCentralService.NGSServiceSoap" name="NGSServiceSoap12Test" />
      <endpoint address="https://etelenext.xifin.net/SignalGenetics/APvX_ServiceLayer/BusinessService/NGS/NGSService.asmx" binding="basicHttpBinding" bindingConfiguration="NGSServiceSoapProd" contract="PathCentralService.NGSServiceSoap" name="NGSServiceSoapProd" />
      <endpoint address="https://etelenext.xifin.net/SignalGenetics/APvX_ServiceLayer/BusinessService/NGS/NGSService.asmx" binding="customBinding" bindingConfiguration="NGSServiceSoap12Prod" contract="PathCentralService.NGSServiceSoap" name="NGSServiceSoap12Prod" />
      <endpoint address="https://www.xifin.net/prod/accession/services" binding="basicHttpBinding" bindingConfiguration="accessionSearchSoap11" contract="XifinAccessionSearchService.accessionSearch" name="accessionSearchSoap11" />
      <endpoint address="https://www.xifin.net/prod/accession/services" binding="basicHttpBinding" bindingConfiguration="accessionSoap11" contract="XifinAccessionService.accession" name="accessionSoap11" />
      <endpoint address="https://www.xifin.net/test/accession/services" binding="basicHttpBinding" bindingConfiguration="accessionSoap112" contract="TestXifinAccessionService.accession" name="accessionSoap111" />
      <endpoint address="https://www.xifin.net/test/accession/services" binding="basicHttpBinding" bindingConfiguration="accessionSearchSoap112" contract="TestXifinAccessionSearchService.accessionSearch" name="accessionSearchSoap111" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <!-- NOTE: These connection strings are NOT used when you are Publishing the app. Instead these are baked into the publish profile. -->
    <add name="SGNL_INTERNALEntities" connectionString="metadata=res://*/SGNL_INTERNAL_Model.csdl|res://*/SGNL_INTERNAL_Model.ssdl|res://*/SGNL_INTERNAL_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sg-ca01-dvm-004;initial catalog=SGNL_INTERNAL;User ID=apitest;Password=Ap1T3st!;MultipleActiveResultSets=True;App=EntityFramework;Max Pool Size=10&quot;" providerName="System.Data.EntityClient" />
    <add name="SGNL_WAREHOUSEEntities" connectionString="metadata=res://*/SGNL_WAREHOUSE_Model.csdl|res://*/SGNL_WAREHOUSE_Model.ssdl|res://*/SGNL_WAREHOUSE_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sg-ca01-dvm-004;initial catalog=SGNL_WAREHOUSE;User ID=apitest;Password=Ap1T3st!;MultipleActiveResultSets=True;App=EntityFramework;Max Pool Size=10&quot;" providerName="System.Data.EntityClient" />
    <add name="SGNL_FINANCEEntities" connectionString="metadata=res://*/SGNL_FINANCE_Model.csdl|res://*/SGNL_FINANCE_Model.ssdl|res://*/SGNL_FINANCE_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sg-ca01-dvm-004;initial catalog=SGNL_FINANCE;User ID=apitest;Password=Ap1T3st!;MultipleActiveResultSets=True;App=EntityFramework;Max Pool Size=10&quot;" providerName="System.Data.EntityClient" />
    <add name="SGNL_LISEntities" connectionString="metadata=res://*/SGNL_LIS_Model.csdl|res://*/SGNL_LIS_Model.ssdl|res://*/SGNL_LIS_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sg-ca01-dvm-004;initial catalog=SGNL_LIS;User ID=apitest;Password=Ap1T3st!;MultipleActiveResultSets=True;App=EntityFramework;Max Pool Size=10&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="BaiFilePath" value="\\sg-ca01-dvm-004\SgnlApps\BillingSuite\BaiFiles" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--These settings load the log4net configuration.-->
    <add key="log4net.Config" value="log.config" />
    <add key="log4net.Config.Watch" value="True" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <!-- Uncomment to debug Log4Net-->
  <!--<system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add
            name="textWriterTraceListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="iis-local-log.txt" />
      </listeners>
    </trace>
  </system.diagnostics>-->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6" />
    <authentication mode="Windows" />
    <identity impersonate="true" />
    <anonymousIdentification enabled="true" />
    <customErrors mode="Off" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!--<rewrite>
      <rules>
        <clear />
        <rule name="Redirect to https" stopProcessing="true">
          <match url="(.*)" />
            <conditions>
              <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
          </rule>
       </rules>
     </rewrite>-->
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.5639" newVersion="1.2.0.5639" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Documents.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>